* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  padding: 20px;
}

.calendar-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

.calendar-header {
  display: contents;
}

.calendar-header div {
  background-color: #903e2a;
  color: white;
  text-align: center;
  padding: 10px;
}

.calendar-body {
  display: contents;
}

.day {
  min-height: 100px;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
}

.activity {
  margin: 5px 0;
  padding: 10px;
  color: white;
  border-radius: 5px;
  cursor: move;
}

.perso {
  background-color: #ff6347; /* Rouge pour projet perso */
}

.formation {
  background-color: #1e90ff; /* Bleu pour formation */
}

.client {
  background-color: #32cd32; /* Vert pour projet client */
}

#add-event {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #e09132;
  color: white;
  border: none;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: auto;
  padding: 20px;
  width: 50%;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}
